@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

html
{
    font-family: "Bagel Fat One", system-ui;
    background-color: rgb(50, 40, 80);
    color:aliceblue;
}

html:link
{
  color:#abffff;
}
