@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

html
{
    font-family: "Bagel Fat One", system-ui;
    background-color: rgb(50, 40, 80);
    background-image: linear-gradient(to bottom,rgb(50, 40, 80), rgb(27,23,60)); /*background-image: linear-gradient(to bottom,rgb(60, 50, 90), rgb(50,40,80));*/
    color:aliceblue;
}

html:link
{
  color:#abffff;
  text-decoration: none;
}
